{% extends 'base.html' %}
{% block title %}Products{% endblock %}

{% block content %}
<h3 class="mb-3">🛍 Product Catalog</h3>
    <form method="get" class="row g-2 mb-4">

        <div class="col-md-4">
            <input type="text"
                name="search"
                class="form-control"
                placeholder="Search products..."
                value="{{ search }}">
        </div>

        <div class="col-md-3">
            <select name="category" class="form-select">
                <option value="">All Categories</option>
                {% for c in categories %}
                    <option value="{{ c.id }}"
                        {% if category == c.id|string %}selected{% endif %}>
                        {{ c.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3">
            <select name="condition" class="form-select">
                <option value="">All Conditions</option>
                <option value="Brand New" {% if condition == 'Brand New' %}selected{% endif %}>Brand New</option>
                <option value="Preloved" {% if condition == 'Preloved' %}selected{% endif %}>Preloved</option>
            </select>
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary w-100">Filter</button>
        </div>

        <div class="col-md-3">
        <select name="brand" class="form-select">
            <option value="">All Brands</option>
            {% for b in brands %}
                <option value="{{ b.brand }}"
                    {% if brand == b.brand %}selected{% endif %}>
                    {{ b.brand }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3">
        <select name="stock_status" class="form-select">
            <option value="">All Stock</option>
            <option value="available"
                {% if stock_status == 'available' %}selected{% endif %}>
                Available
            </option>
            <option value="soldout"
                {% if stock_status == 'soldout' %}selected{% endif %}>
                Sold Out
            </option>
        </select>
    </div>


    </form>

    <div class="row">
        {% for p in products %}
            <div class="col-md-3 mb-4">
                <div class="card h-100 shadow-sm">

                    <!-- IMAGE PLACEHOLDER -->
                    <div class="position-relative">

                        {% if p.image %}
                            <img src="{{ url_for('static', filename='uploads/' ~ p.image) }}"
                                class="card-img-top">
                        {% else %}
                            <img src="{{ url_for('static', filename='no-image.png') }}"
                                class="card-img-top">
                        {% endif %}

                        {% if p.stock == 0 %}
                        <div class="sold-out-badge">
                            SOLD<br>OUT
                        </div>
                        {% endif %}

                    </div>

                    <div class="card-body">
                        <h5>{{ p.name }}</h5>

                        <span class="badge bg-info">{{ p.condition_type }}</span>

                        <p class="text-muted mt-2">{{ p.category }}</p>
                        <p>₱{{ p.price }}</p>

                        {% if p.stock > 0 %}
                            <a href="{{ url_for('add_to_cart', id=p.id) }}"
                            class="btn btn-sm btn-primary">
                            Add to Cart
                            </a>
                        {% else %}
                            <span class="text-danger">Out of stock</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav>
        <ul class="pagination justify-content-center">

            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link"
                href="{{ url_for('home', page=page-1, search=search, category=category, condition=condition) }}">
                    Previous
                </a>
            </li>
            {% endif %}

            {% for p in range(1, total_pages + 1) %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a class="page-link"
                href="{{ url_for('home', page=p, search=search, category=category, condition=condition) }}">
                    {{ p }}
                </a>
            </li>
            {% endfor %}

            {% if page < total_pages %}
            <li class="page-item">
                <a class="page-link"
                href="{{ url_for('home', page=page+1, search=search, category=category, condition=condition) }}">
                    Next
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>

{% endblock %}
