{% extends "base.html" %}

{% block title %}Admin Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow">
      <div class="card-body">

        <h4 class="mb-3 text-center">Create Admin</h4>

        <form method="POST">
          <input class="form-control mb-2" name="fullname" placeholder="Full Name" required>
          <input class="form-control mb-2" name="email" placeholder="Email" required>
          <input class="form-control mb-3" name="password" type="password" placeholder="Password" required>

          <button class="btn btn-dark w-100">Register</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
